* {
    margin: 0;
    padding: 0;
}

#testblokk {
    position: absolute;
    background-color: red;
}

#ui {
    position: absolute;
    width: 800px;
    height: 600px;
    left: 0;
    right: 0;
    margin: auto;
}
    #spillerhp {
        position: absolute;
        top: 16px;
        left: 16px;
        z-index: 100;
    }
        #spillerhp img {
            float: left;
        }
    
    #bosshp {
        position: absolute;
        width: 600px;
        height: 16px;
        right: 16px;
        bottom: 16px;
        background-color: white;
        border: 3px solid black;
        z-index: 100;
    }
        #bosshp-indre {
            background-color: #0F0;
            width: 600px;
            height: 16px;
            float: right;
            z-index: 110;
        }
    
    #laster {
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 100;
    }

#spillvindu {
    border: 1px solid black;
    width: 800px;
    height: 600px;
    overflow: hidden;
    position: relative;
    margin: auto;
}
    .menyoverskrift {
        font-family: sans-serif;
        text-transform: uppercase;
        text-align: center;
        position: relative;
        top: 100px;
    }
    .knapp {
        position: absolute;
        display: block;
        width: 180px;
        height: 80px;
        left: 0;
        right: 0;
        margin: auto;
        line-height: 80px;
        text-align: center;
        font-family: sans-serif;
        font-size: 1.2em;
        text-transform: uppercase;
        cursor: pointer;
        border-radius: 10px;
    }
    .brettknapper {
        position: relative;
        width: 600px;
        top: 150px;
        margin: auto;
    }
    #startknapp {
        border: 3px solid grey;
        background: lightgreen;
        top: 180px;
    }
    #loggutknapp,
    #endrepassordknapp {
        border: 3px solid grey;
        background: lightgreen;
        top: 350px;
        height: 40px;
        line-height: 40px;
        font-size: 0.8em;
    }
    #endrepassordknapp {
        top: 295px;
    }
    .brettknapp {
        position: relative;
        width: 94px;
        margin: 10px;
        border: 3px solid grey;
        background: lightgreen;
        float: left;
        text-transform: none;
        font-size: 0.75em;
    }
        .brettknapp span {
            line-height: 1em;
            display: inline-block;
            vertical-align: middle;
        }
        .brettknapp.disabled {
            background: lightgrey;
            cursor: auto;
        }
    #tapprovigjenknapp {
        border: 3px solid grey;
        background: lightgreen;
        top: 180px;
    }
    #tapokknapp {
        border: 3px solid grey;
        background: lightgreen;
        top: 320px;
    }
    #brettferdigokknapp {
        border: 3px solid grey;
        background: lightgreen;
        top: 450px;
    }
    #brukermeny,
    #passordmeny table {
        position: relative;
        width: 600px;
        top: 150px;
        margin: auto;
    }
        #brukermeny input,
        #passordmeny table input {
            display: block;
            width: 252px;
            margin: auto;
        }
        #brukermeny .knapp,
        #passordmeny table .knapp {
            position: relative;
            border: 3px solid grey;
            background: lightgreen;
            width: 250px;
            margin-top: 10px;
        }
        #brukermeny .feilmelding,
        #passordmeny table .feilmelding {
            text-align: center;
            color: red;
        }
    #send_endrepassordknapp {
        border: 3px solid grey;
        background: lightgreen;
        top: 50px;
    }
    
    #brettferdigtekst {
        position: absolute;
        display: block;
        width: 500px;
        height: 400px;
        left: 0;
        right: 0;
        top: 180px;
        margin: auto;
        font-family: sans-serif;
    }
        #brettferdigtekst p {
            line-height: 1.5em;
            margin-bottom: 10px;
        }

.plattform {
    position: absolute;
    z-index: 1;
}

.enhet {
    position: absolute;
    z-index: 2;
}

.enhet-tillegg {
    position: absolute;
    z-index: 3;
}

.utgang {
    width: 64px;
    height: 64px;
    position: absolute;
    background-image: url("bilder/portal.gif");
    z-index: 1;
}