#spillvindu {
    border: 1px solid black;
    width: 800px;
    height: 600px;
    overflow: hidden;
    position: relative;
    margin: auto;
}

.plattform {
    position: absolute;
}

.enhet {
    position: absolute;
}